* {
  border: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafafa;
  height: 100vh;
}

main {
  height: 100vh;
  margin: auto;
  max-width: 935px;
}

a { text-decoration: none; }
h1 { margin: 20px 0; }
ul { list-style: none; }

/**
* Flex rules
*/

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.direction-column {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.justify-content-center {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.align-items-center {
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.flex-wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/**
*
*/

.panel {
  background-color: white;
  border: 1px solid #dbdbdb;
  margin-bottom: 10px;
  padding: 10px;
}

#auth { max-width: 350px; }
#mobile { max-width: 454px; }

#mobile img {
  height: 618px;
}

/**
* Login section
*/
.login-with-fb,
form { width: 100%; 
font-size:15px;}

.register,
form { padding: 30px 20px; }

.login-with-fb { padding: 30px 20px 20px 20px; }

form .sr-only { display: none; }

form input {
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  color: #808080;
  margin-bottom: 8px;
  padding: 10px 10px;
  width: 100%;
}

form input::placeholder {
  color: #808080;
}

form input:focus {
  border: 1px solid #808080;
  outline: none;
}

form button {
  background-color: #0095f6;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  height: 35px;
  margin-top: 10px;
  width: 100%;
}

/**
* Separator login form from login with fb
*/
.separator span {
  background-color: #dbdbdb;
  height: 1px;
  width: calc(100% - 10px);
}

.separator .or {
  color: #808080;
  font-weight: bold;
  font-size : 13px;
}

.separator { padding: 0 20px; }
.separator span:first-child { margin-right: 10px;}
.separator span:last-child { margin-left: 10px;}

/**
* Login with fb section
*/
.login-with-fb a { 
  color: #385185; 
}

.login-with-fb > a { font-size: 12px; }
.login-with-fb div a { font-weight: bold; }
.login-with-fb div { margin-bottom: 15px; }

/**
* Register section
*/
.register * { font-size: 14px; }
.register a { 
  color: #0095f6;
  font-weight: bold;
}

.register p { margin-right: 5px; }

/**
* App download
*/
.app-download { padding: 15px; }
.app-download p { padding: 10px 0; }
.app-download img { 
  height: 40px; 
  margin: 0 5px;
}

/**
* Footer
*/
footer {
  margin: 0 auto 30px auto;
  max-width: 935px;
}
footer ul { margin-bottom: 20px; }
footer ul li { margin: 0 10px 10px; } 
footer ul li a { color: #385185; }
footer .copyright { color: #808080; }
footer ul li a,
footer .copyright { 
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}


/**
* Media queries
*/

@media screen and (max-width: 767px) {
  main { margin: 30px auto 50px auto; }
  footer .copyright,
  footer ul li a { font-size: 13px; }
  .phone-image {
      display: none;
  }
  .footer{
      display:none;
  }
}
.phone-image {
  margin-bottom: 40px; /* Ajustement pour déplacer l'image un peu plus haut */
}

.google-logo {
  width: 16.5px;
  margin-right: 8px;
}

.login-button.disabled {
  pointer-events: none;
}
form button {
  background-color: #0095f6;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  height: 35px;
  margin-top: 10px;
  width: 100%;
}

.login-button {
  background-color: #ccc; /* Couleur par défaut du bouton lorsque les champs sont vides */
  color: #fff; /* Couleur par défaut du texte du bouton */
  border: none;
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s; /* Transition pour le changement de couleur */
}

.login-button.disabled {
  pointer-events: none; /* Empêche le clic lorsque le bouton est désactivé */
}

.google-logo {
  color: #385185;
  font-size: 14px;
}


.login-button.filled {
  background-color: rgba(0, 149, 246); /* Couleur bleue */
}


.login-button.filled:hover {
  background-color: rgba(24,119,242); /* Couleur bleue */
  cursor:pointer;
}
.footer {
  position: fixed;
  bottom: -1px; /* Déplace le footer légèrement en dessous du bas de la fenêtre */
  width: 100%;
  background-color: #fafafa;
  padding: 20px 0; /* Ajustement des marges intérieures */
  text-align: center;
  z-index: 1000; /* Assure que le footer est au-dessus du reste du contenu */
}

.footer a {
  color: #737373;
  margin:  10px;
  text-decoration: none;
  font-size: 12px; /* Taille des liens du footer */
}


.footer-copy {
  margin-top: 10px;
}

.footer-copy p {
  color: #808080;
  font-size: 12px; /* Taille du texte du copyright */

}